.knight{
    position: absolute;
    height: 200px;
    margin-Top: 580px;
}

.background{
    width: 100vw;
    height: 100vh;
    background-image: url("image/background1.png");
    background-size: cover;
    overflow-x: hidden;
    position: absolute;
    background-attachment: fixed;
    
    
}

.body{
    margin: 0px;
}

.block{
    position: absolute;
    width: 60px;
    height: 90px;
    background-image: url("image/flame.gif");
    background-size: cover;
    margin-top: 685px;
}

.score{
    position: absolute;
    font-size: 90px;
    font-family: "Arial";
    font-weight: bold;
    margin-left: 40px;
}

.gameOver{
    position: absolute;
    width: 100vw;
    height: 100vh;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-family: "Arial";
    font-weight: bold;
}

.btn{
    width: 400px;
    height: 40px;
    background-color: white;

    font-size: 24px;
    font-family: "Arial";
    font-weight: bold;

    border-style: none;
    border-radius: 5px;
}